.live-interaction {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.live-stream {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.poll-section {
    margin-bottom: 20px;
}

.poll-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.poll-question {
    font-weight: bold;
    margin: 10px 0;
}

.option-input, .poll-input {
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
}

.add-poll-button, .add-option-button, .option-button, .ask-question-button {
    background-color: #57595b;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.add-poll-button:hover, .add-option-button:hover, .option-button:hover, .ask-question-button:hover {
    background-color: #6d98c6;
}

.poll-option {
    margin: 5px 0;
}

.option-button {
    width: 100%;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #e7f1ff;
    color: #007bff;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Align text and response count */
}

.option-button:hover {
    background-color: #92c1f3;
    color: white;
}

.response-count {
    font-size: 0.9em; /* Smaller font for response count */
    color: #555; /* Grey color for response count */
}

.qa-section {
    margin-top: 20px;
}

.qa-input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(100% - 20px);
}
